table tr, td{
    border:1px solid black;
    padding:20px;
}
.hidden{
    empty-cells:hide;
}
.color0{
    background-color: limegreen;
}
.color1{
    background-color: orange;
}
.color2{
    background-color: yellow;
}
.color3{
    background-color: mediumpurple;
}
.color4{
    background-color: lightskyblue;
}
.color5{
    background-color: lime;
}
.color6{
    background-color:seagreen;
}
.color7{
    background-color:mediumaquamarine;
}
.color8{
    background-color: deepskyblue;
}